REALWORLD_WEB2_PASSWORD=replace-with-local-password
GITHUB_TOKEN=ghp_replace_with_actions_dispatch_token
GITHUB_OWNER=replace-with-github-owner
GITHUB_REPO=replace-with-backend-repo-name
GITHUB_WORKFLOW_ID=playwright.yml
GITHUB_WORKFLOW_REF=main

